<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="myconstr" connectionString="Data Source=CLICKMAN;Initial Catalog=TechnoDB;Integrated Security=True" />
    <add name="TechnoDBConnectionString" connectionString="Data Source=CLICKMAN;Initial Catalog=TechnoDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<system.webServer>
  <defaultDocument>
    <files>
      <clear/>
      <add value="~/default.aspx"/>
    </files>
  </defaultDocument>
</system.webServer>
</configuration>